body {
   width: 95vw;
   background-color: black;
   color: #f4ddba;
}

/* Nastaveni flex */
.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.main, .header, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabulky {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: black;
}

/* Nadpisy */
h1, h2 {
  text-align: center;
  margin: 0px;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

/* Menu, tlacitka v menu */
#Menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 25px auto 0px auto;
}

#Button {
  width: 400px;
  font-size: 25px;
  width: 95vw;
  background: black;
  padding: 10px 0px 10px 0px;
  border: 2px solid #f4ddba;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 0px;
}

#Odkazy {
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

/* Odkazy v menu */
.ButtonSmall {
  width: 30vw;
  padding: 10px;
  border: 2px solid #f4ddba;
  border-radius: 30px;
  margin: 3px;
  color: #f4ddba;
  text-decoration: none;
}

.ButtonSmall:hover {
   color: black;
   background-color: #f4ddba;
}

/* Poznamka */
#Poznamka {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #4a1180;
  border: 5px solid #781bcf;
  border-radius: 30px;
  font-family: "Parisienne", cursive;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  margin: 25px auto 25px auto;
  }

#Poznamka>* {
   margin: 0px;
}

#Poznamka:hover {
  filter: brightness(180%);
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 25px;
}

.footer>* {
   margin: 0px;  
}

/* Zmena barvy odkazu ve footeru */
footer a:link {
   color: cyan;
   text-decoration: none;
}

footer a:visited {
   color: cyan;
}

footer a:hover {
   color: magenta;
}

/* TABULKY */
/* Formatovani tabulek */
table {
   border-collapse: collapse;
}

tr {
  border-bottom: 2px dotted grey;
}

tbody tr:hover {
   background-color: #9bdafa;
   filter: brightness(150%);
}

tbody tr:last-child {
  border: 0px;
}

caption {
  color: #f4ddba;
  font-style: oblique;
  font-family: "Quintessential", serif;
 }

thead, tbody {
  background-color: #9bdafa;
  }

.Zlato {
  background-color: #ffcc66;
  }

.Stribro {
  background-color: #d1d1e0;
}

.Bronz {
  background-color: #ffbb99;
}

.Brambora {
  background-color: #d4905d;
}

.Lucerna {
  background-color: #ff8080;
}
