h1, h2 {
  text-align: center;
  margin: 0px;
}

/* tabulky */ 
caption {
  font-style: oblique;
 }

thead, tbody {
  background-color: #9bdafa;
  }

tbody > tr:first-child {
  background-color: #ffcc66;
  }

tbody > tr:nth-child(2) {
  background-color: #d1d1e0;
}

tbody > tr:nth-child(3) {
  background-color: #ffbb99;
}

tbody > tr:nth-child(4) {
  background-color: #d4905d;
}

tbody >tr:last-child {
  background-color: #ff8080;
}

tfoot {
  background-color: #6bc5f2;
}

/* text v odstavci */

p {
  text-align: center;
  font-size: 12px;
}

/* Flex */
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box {
	width: 95vW;
}

.header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
  }

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tabulky {
	display: flex;
	justify-content: center;
}

.footer {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 12px;
}
