/* nastaveni pro sirku  minimalne 900 px */
@media screen and (min-width: 900px) {
  .tabulky {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* nastaveni pro sirku maximalne 899px */
@media screen and (max-width: 899px) {
  table {
  width: 95vW;
  font-size: 16px;
}

  p, .footer {
    font-size: 12px;
  }
}
