/* nastaveni pro sirku  minimalne 900 px */
@media screen and (min-width: 900px) {
   body {
     justify-content: stretch; 
   }
  
  .tabulky {
    flex-direction: row;
    align-items: space-evenly;
  }
}

/* nastaveni pro sirku maximalne 899px */
@media screen and (max-width: 899px) {
  table {
  width: 95vW;
  font-size: 16px;
}

  p, .footer {
    font-size: 16px;
  }
}
