@media screen and (min-width: 1200px) {
  .tabulky {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1199px) {
table {
  width: 95vW;
  font-size: 16px;
}
}
